@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Poppins:wght@400;700&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
* {
    box-sizing: border-box;
  }
  .main-container {
    max-width: 800px;
    margin: auto;
  }
  .bg-1 {
    margin: 55px auto 218px auto;
    text-align: center;
  }


 .t-stroke {
  color: transparent;
   -moz-text-stroke-width: 2px;
   -webkit-text-stroke-width: 2px;
   -moz-text-stroke-color: #000000;
   -webkit-text-stroke-color: #ffffff;
 }
 
 .t-shadow {
   text-shadow: 6px 6px #970f6b;
 }

  h1#msg-final {
    text-align: center;
    color: crimson;
    transition: all .5s ease;
    transform: scale(0);
    min-height: 50px;
    margin-bottom: 0;
  }
  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }
  .rojo {
    color: red;
  }
  .verde {
    color: green;
  }
  @keyframes zoomInOut {
    0% { transform: scale(0); }
    50% { transform: scale(1); }
    70% { transform: scale(1); }
    100% { transform: scale(0); }
  }
  h2.palabra {
    margin: -117px auto 90px auto;
    text-align: center;
    color: #7e046a;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 42px;
}
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto; 
  }
  .no-wrap {
    flex-wrap: nowrap !important;
  }
  .col {
    width: 50%;
    text-align: center;
  }
 
  #turnos h3 {
    margin: auto;
  }
  h3 span {
    color: #460072;
    font-weight: bold;
  }
  .letra:disabled {
    color:rgb(255 255 255 / 50%)
  }
  picture {
    position: relative;
  }
  picture img {
    position: absolute;
    top: -203px;
    left: -205px;
    height: 225px;
  }
  #image5, #image4, #image3,
  #image2, #image1, #image0 {
    opacity: 0;
    transition: opacity .3s ease;
  }
  .fade-in {
    opacity: 1 !important;
  }
  .encuadre {
    border: 2px dashed crimson;
    padding: 3px 2px 2px 6px;
  }

           
.btn-primary{
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);

}

.btn-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 